<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="static/algo.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    ¡Oops!</h1>
                <h2>
                    Algo salió mal.</h2>
                <div class="error-details">
                    <p class="font-weight-normal">La razón probablemente se deba a que no iniciaste sesión, o a que estés usando el navegador safari.</p>
                    <p class="font-weight-bold">Gestor-Pro NO es compatible con Safari.</p>
                    <p class="font-weight-normal">Por favor usa un navegador basado en Chromium o Firefox.</p>
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">
                        Regresar </a>
                </div>
            </div>
        </div>
    </div>
</div>
