<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <meta charset="UTF-8">
    <title>Gracias!</title>
    <div class="jumbotron text-center">
  <h1 class="display-3">Gracias!</h1>
  <p class="lead"><strong>¡Ahora eres colaborador del evento</strong> {{nom}} !</p>
  <hr>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue a inicio de sesion</a>
  </p>
</div>
</head>
<body>

</body>
</html>